 
 @font-face {
  font-family: 'IndieFlower';
  src: url('../fonts/IndieFlower.ttf') format('truetype');
}

 @font-face {
  font-family: 'Lobster';
  src: url('../fonts/Lobster-Regular.ttf') format('truetype');
}

/*
@import url(//fonts.googleapis.com/css?family=Indie+Flower);
@import url(//fonts.googleapis.com/css?family=Rancho);
*/

h1 {
	font-family: 'Lobster', cursive; serif;
    text-align: center;
  }
  
h4 {
text-align: center;
}
  
  /* See ../goodGrubHome.html for web site documentation and requirements  */
