/*
@font-face {
  font-family: 'MyWebFont';
  src: url('myfont.woff2') format('woff2'),
       url('myfont.woff') format('woff'),
       url('myfont.ttf') format('truetype');
	}
	
@import url(//fonts.googleapis.com/css?family=Open+Sans);
font-family: 'Open Sans', sans-serif;

*/

@import url(//fonts.googleapis.com/css?family=Indie+Flower);

h1 {
	font-family: 'Indie Flower', cursive;
}

tr {
	text-align: center;
}

.bandMemebers {
	font-family : 'Indie Flower', cursive;
}