/*
@font-face {
  font-family: 'MyWebFont';
  src: url('myfont.woff2') format('woff2'),
       url('myfont.woff') format('woff'),
       url('myfont.ttf') format('truetype');
	}
	
@import url(//fonts.googleapis.com/css?family=Open+Sans);
@import url(//fonts.googleapis.com/css?family=Indie+Flower);

*/

 @font-face {
  font-family: 'IndieFlower';
  src: url('../fonts/IndieFlower.ttf') format('truetype');
}

 @font-face {
  font-family: 'Lobster';
  src: url('../fonts/Lobster-Regular.ttf') format('truetype');
}


h1 {
	font-family: 'Indie Flower', cursive;
}

tr {
	text-align: center;
}

tr:nth-child(even) {
	background-color: #99ccff;
}

.bandMemebers {
	font-family : 'Indie Flower', cursive;
	text-align : left;
	
}

/*
Links should only be underlined when you are hovering over a link.  The other states should not be underlined.
			- When hovering, set the background of the link to a different color.
*/
			
.albumLink {
	text-decoration : none;
}

.albumLink:link {
	text-decoration : none;
}

.albumLink:visited {
	text-decoration : none;
}

.albumLink:hover {
	text-decoration : underline;
	background-color : red;
}

.albumLink:active {
	text-decoration : none;
}

/* Italicize the track numbers, titles, and lengths. */

.tracks {
	font-style : italic;
}
