 
 @font-face {
  font-family: 'IndieFlower';
  src: url('../fonts/IndieFlower.ttf') format('truetype');
}


 @font-face {
  font-family: 'Lobster';
  src: url('../fonts/Lobster-Regular.ttf') format('truetype');
}

/*
@import url(//fonts.googleapis.com/css?family=Indie+Flower);
@import url(//fonts.googleapis.com/css?family=Rancho);
*/

h1 {
	font-family: 'Lobster', cursive;
    text-align: center;
  }
  
h4 {
	text-align : center;
	font-weight : bold;
}
 
 /*
Style the site navigation so that:
	Visited links appear in a different color than their default state.
	When you hover over a link, the text is bold. This should only be when hovering.  Otherwise, the text should be the normal thickness.
	Active links should not be underlined.
*/
			
.siteNavLinks {
	font-family: 'Lobster', cursive;
	font-size : 18px;
}

.siteNavLinks:link {
	color : #99ccff;
}

.siteNavLinks:visited {
	color : navy;
}

.siteNavLinks:hover {
	font-weight : bold;
}

.siteNavLinks:active {
	text-decoration : none;
}

.backgroundColor {
	margin-left : auto;
	margin-right : auto;
	background-position : top;
	background-repeat : no-repeat;
	background-color : Khaki;
	}
			
.sitenavHr {
	margin-top: 10px;
	margin-bottom: 10px;
	border: 0;
	border-top: 2px solid black;
	line-height : 20px;
	color: black;
	}
	
.glyphicon.glyphicon-home {
	font-size: 20px;
}

.jumbotron {
	font-size : 70px;
	color : red;
	padding-left: 100px;
}
	
  /* See ../goodGrubHome.html for web site documentation and requirements  */
